.gradientfont {
  background: linear-gradient(
    265.89deg,
    #5b0673 -10.87%,
    #5b0673 0.1%,
    #5b0673 9.4%,
    #71078e 22.52%,
    #7a0899 30.63%,
    #5d25b1 44.72%,
    #2b57db 71.86%,
    #0c76f5 92.45%,
    #0082ff 103.91%,
    #0586ff 107.66%,
    #1391ff 112.05%,
    #2ba3ff 116.76%,
    #4bbcff 121.65%,
    #6cd5ff 125.71%,
    #6cd5ff 134.43%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
